:root {
  --clr-primary-orange-400: hsl(35, 77%, 62%);
  --clr-primary-red-400: hsl(5, 85%, 63%);
  --clr-secondary-blue-400: hsl(233, 8%, 79%);
  --clr-secondary-blue-500: hsl(236, 13%, 42%);
  --clr-secondary-blue-600: hsl(240, 100%, 5%);
  --clr-off-white: hsl(36, 100%, 99%);

  --fs-400: 15px;
  --fw-400: 400;
  --fw-500: 700;
  --fw-600: 800;
  --ff-400: 'Inter', sans-serif;
}